# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.svn/entries
.svn/pristine/04/042bb9660ff696a8f385de620cec9f8e962e2768.svn-base
.svn/pristine/05/05acdb3477d58d6d748fd8c334f8cf54e079978b.svn-base
*.svn-base
.svn/wc.db
*.dat
.svn/wc.db-journal
CHANGES.txt
